In [36]:
import glob
import json
import pandas as pd

In [40]:
input_path = 'input/'
input_extension = '.trf'
files = glob.glob(input_path + '**/*' + input_extension, recursive=True)
with open('input/JOSS/support/variables_info.json') as f:
    variables_info = json.load(f)

In [42]:
variables_info.keys()

dict_keys(['input_file_extension', 'integration_time', 'Number of bins', 'sensor_area', 'filter_ni', 'Columns', 'drop_col', 'drop_mean_diam', 'fall_vell', 'delta_diam'])

In [21]:
df = pd.read_table(files[0], delimiter=r"\s+")

In [43]:
# Read all files and concatenate them
df = pd.concat([pd.read_table(f, delimiter=r"\s+", decimal=",") for f in files])
df['timestamp'] = pd.to_datetime(df['YYYY-MM-DD'] + ' ' + df['hh:mm:ss'])
df = df.drop(['YYYY-MM-DD', 'hh:mm:ss'], axis=1)
df = df.set_index('timestamp')
df = df[~df.index.duplicated(keep='first')]
df = df.sort_index()

In [44]:
df

,Status,Interval,[s],n1,n2,n3,n4,n5,n6,n7,...,n17,n18,n19,n20,RI,[mm/h],RA,[mm],RAT,[mm].1
timestamp,,,,,,,,,,,,,,,,,,,,,
2021-12-12 15:46:00,60,51,123,175,207,90,142,97,1,0,...,0,0,2.4388,0.0406,440.8631,NaN,NaN,NaN,NaN,NaN
2021-12-12 15:47:00,60,70,169,152,140,46,137,104,3,0,...,0,0,2.2687,0.0378,440.9009,NaN,NaN,NaN,NaN,NaN
2021-12-12 15:48:00,60,67,169,178,103,46,58,89,1,0,...,0,0,1.7790,0.0297,440.9305,NaN,NaN,NaN,NaN,NaN
2021-12-12 15:49:00,60,65,194,187,164,33,14,18,1,0,...,0,0,0.9551,0.0159,440.9465,NaN,NaN,NaN,NaN,NaN
2021-12-12 15:50:00,60,76,193,191,190,43,16,2,0,0,...,0,0,0.8919,0.0149,440.9613,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-16 15:41:00,60,0,0,0,0,0,0,0,0,0,...,0,0,0.0000,0.0000,464.2524,NaN,NaN,NaN,NaN,NaN
2021-12-16 15:42:00,60,0,0,0,0,0,0,0,0,0,...,0,0,0.0000,0.0000,464.2524,NaN,NaN,NaN,NaN,NaN
2021-12-16 15:43:00,60,0,0,0,0,0,0,0,0,0,...,0,0,0.0000,0.0000,464.2524,NaN,NaN,NaN,NaN,NaN
2021-12-16 15:44:00,60,0,0,0,0,0,0,0,0,0,...,0,0,0.0000,0.0000,464.2524,NaN,NaN,NaN,NaN,NaN
2021-12-16 15:45:00,60,0,0,0,0,0,0,0,0,0,...,0,0,0.0000,0.0000,464.2524,NaN,NaN,NaN,NaN,NaN