In [10]:
import glob
import pandas as pd

In [11]:
input_path = 'input/'
input_extension = '.trf'
files = glob.glob(input_path + '**/*' + input_extension, recursive=True)

In [21]:
df = pd.read_table(files[0], delimiter=r"\s+")

In [22]:
df

,YYYY-MM-DD,hh:mm:ss,Status,Interval,[s],n1,n2,n3,n4,n5,...,n17,n18,n19,n20,RI,[mm/h],RA,[mm],RAT,[mm].1
0,2021-12-12,15:46:00,60,51,123,175,207,90,142,97,...,0,0,"2,4388","0,0406","440,8631",NaN,NaN,NaN,NaN,NaN
1,2021-12-12,15:47:00,60,70,169,152,140,46,137,104,...,0,0,"2,2687","0,0378","440,9009",NaN,NaN,NaN,NaN,NaN
2,2021-12-12,15:48:00,60,67,169,178,103,46,58,89,...,0,0,"1,7790","0,0297","440,9305",NaN,NaN,NaN,NaN,NaN
3,2021-12-12,15:49:00,60,65,194,187,164,33,14,18,...,0,0,"0,9551","0,0159","440,9465",NaN,NaN,NaN,NaN,NaN
4,2021-12-12,15:50:00,60,76,193,191,190,43,16,2,...,0,0,"0,8919","0,0149","440,9613",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,2021-12-13,15:41:00,60,1,4,5,11,6,0,0,...,0,0,"0,0447","0,0007","443,3481",NaN,NaN,NaN,NaN,NaN
1436,2021-12-13,15:42:00,60,0,4,4,3,0,0,0,...,0,0,"0,0119","0,0002","443,3482",NaN,NaN,NaN,NaN,NaN
1437,2021-12-13,15:43:00,60,2,5,5,0,0,0,0,...,0,0,"0,0088","0,0001","443,3484",NaN,NaN,NaN,NaN,NaN
1438,2021-12-13,15:44:00,60,0,5,5,1,0,0,0,...,0,0,"0,0100","0,0002","443,3486",NaN,NaN,NaN,NaN,NaN
1439,2021-12-13,15:45:00,60,0,2,1,3,0,0,0,...,0,0,"0,0076","0,0001","443,3487",NaN,NaN,NaN,NaN,NaN